# Global properties
command=~/.config/i3/i3blocks/$BLOCK_NAME
separator_block_width=10
markup=none
separator=false


{% if is_laptop %}
[battery]
label= 
interval=5
markup=pango

[spacer]
full_text=
color=#b16286
{% endif %}


{% for item in net_ifaces %}
[iface]
instance={{item.iface}}
interval=5
color=#fabd2f
label= {{item.name}} 
{% endfor %}


[spacer]
full_text=
color=#b16286


[cpu_usage]
label= CPU 
interval=10
min_width=CPU: 100
color=#fb4934


[load_average]
interval=10
color=#fb4934


[spacer]
full_text=
color=#b16286


[temperature]
label= TEMP 
interval=10
color=#fabd2f


[spacer]
full_text=
color=#b16286


[memory]
label= FREE 
interval=30
color=#b8bb26


[spacer]
full_text=
color=#b16286


[disk]
label= HD /home 
interval=30
color=#fb4934


[disk]
label=/ 
instance=/dev/mapper/fedora-root
interval=30
color=#fb4934


[spacer]
full_text=
color=#b16286


[volume]
label= 
interval=5
color=#fabd2f


[spacer]
full_text=
color=#b16286


[date]
command=date
interval=1 
label=  
color=#b8bb26
